@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-ExtraBoldItalic.ttf");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Nunito;
  src: url("/fonts/Nunito/Nunito-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

* {
  font-family: "Nunito";
}
