.hourglass {
  display: block;
  background: #3b3937;
  width: 20px;
  height: 30px;
  transform: "rotate(180deg)";
  animation: hourglass 1s linear infinite;
  marin-bottom: 10px;
}

.outer {
  fill: #fff3d3;
}

.middle {
  fill: #3b3937;
}

@keyframes hourglass {
  0% {
    transform: rotate(0deg);
    box-shadow: inset #fff3d3 0 -0em 0 0, inset #3b3937 0 -2em 0 0,
      inset #fff3d3 0 -4em 0 0;
  }
  80% {
    transform: rotate(0deg);
    box-shadow: inset #fff3d3 0 -2em 0 0, inset #3b3937 0 -2em 0 0,
      inset #fff3d3 0 -2em 0 0;
  }
  100% {
    transform: rotate(180deg);
    box-shadow: inset #fff3d3 0 -2em 0 0, inset #3b3937 0 -2em 0 0,
      inset #fff3d3 0 -2em 0 0;
  }
}
