.w100 {
  width: 100%;
}

.none {
  display: none !important;
}

.mr05 {
  margin-right: 5px;
}

.mr1 {
  margin-right: 10px;
}
.mr2 {
  margin-right: 20px;
}
.mr3 {
  margin-right: 30px;
}
.mr4 {
  margin-right: 40px;
}

.mb1 {
  margin-bottom: 10px;
}

.mb2 {
  margin-bottom: 20px;
}
.mb3 {
  margin-bottom: 30px;
}
.mb4 {
  margin-bottom: 40px;
}

.disabled {
  opacity: 0.3;
}
.wfull {
  width: 100%;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.justify-center {
  justify-content: center;
}
.flex-col {
  flex-direction: column;
}

.block {
  display: block;
}

.h0 {
  height: 0 !important;
}
