@import './logo_background.css';

*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus{
  outline: none;
  box-sizing: border-box;
}
body{
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}


.mb1{
  margin-bottom: 10px !important;
}

.mb2{
  margin-bottom: 20px !important;
}

.mb3{
  margin-bottom: 30px !important;
}

.mb4{
  margin-bottom: 40px !important;
}

.srt_tbl_sel {
  border: none;
  cursor: pointer;
  padding: 1px;
  background-color: transparent;
}



